
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: pointer 30px black;
    margin: 0;
    padding: 0;
    background: rgb(230, 230, 250) !important;
  
}
header{
    background: white;
}
.fixed-what{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 1300px;
    top: 600px;
    z-index: 10000;
    
}
.fixed-what img{
    
    width: 70px;
    height: 70px;
}

#h-a{
   background:  rgb(195, 195, 195);
    width: 300px !important;
    height: 50px;
    bottom: 200px;
    
    text-decoration: none;
}
#h-a img{
    position: relative;
    width: 40px;
    height: 40px;
    left: 830px;
    bottom: 105px;
}
#h-a p{
    position: relative;
     left: 880px;
     width: 200px;
     height: 30px;
    bottom: 145px;
    text-decoration: none;
   
    color:black;
    font-weight: 700;
    font-size: 25px;
}
#header-h2{
    position: relative;
   left: 40%;
  font-size: 20px;
  bottom: 60px;
 
}
.crp{
    position: relative;
    color:whitesmoke;
	font-family: "Segoe UI";
    left: 40px;
   
    font-size: 25px;
}
.h1-psi{
    position: relative;
    left: 10px;
    bottom: 20px;
    font-size: 50px;
    font-family: "Segoe UI";
    font-weight: 700;
    color:whitesmoke;
}
.h3-ter{
    position: relative;
    left: 40px;
    font-size: 20px;
    bottom: 30px;
    color:whitesmoke;
    font-family: "Segoe UI";
    font-weight: 700;
}

.list-p{
    position: relative;
    left: 30px;
    font-size: 18px;
    bottom: 30px;
 
    font-family: "Segoe UI";
    
}
.list-p span{
    color:black;
}
.master{
     background: rgb(230, 230, 250);
    position: relative;
    top: -5px;
}
.container {
    position: relative;
   
    height: 630px;
    
    }
.foto-principal{
   display: none;
}
.plano-fundo{
   position: relative;
    width: 40%;
    height: 450px;
    left: 3%;
    bottom: 13%;
  
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.whats{
    position: relative;
    top: 10px;
left: -30px;

}
.agende-whatsapp{
    position: relative;
    width: 350px;
    height: 60px;
    left: 30px;
    font-size: 18px;
    bottom: 20px;
    border-radius: 40px;

    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.agende-whatsapp a{
    text-decoration: white;
}

.agende-whatsapp span{
    position: relative;
    top: 5px;
    
}
.agende-whatsapp:hover{ 
    background:  rgb(195, 195, 195);
    box-shadow: none;
    border: 1px whitesmoke; //
}
.agende-whatsapp span:hover {
    position: relative;

}
.ele-a{
    position: relative;
    top: 2px;
    left: 8px;
    width: 40px;
    height: 40px;
    
}
.agende span{
    position: relative;
    left: 20px;
    bottom: 5px;
    color:WHITE;
    font-size: 27px;
    text-decoration:black;
    font-family: "Segoe UI";
    font-weight: 750;
}

  
  .foto-principal {
    
    width: 43%;
    left: 200px;
    height: 500px;
    bottom: 0px;
    position: relative;
    z-index: 9998;
  }
  .imgsEli{
 position: relative;
 top: 20px;
 left: 47%;
border-radius: 20px;
 
 width: 40%;
 height: 600px;
  }
  
  .pri {
    position: absolute;
    bottom: 800px;
    left: -7%;
    
    transform: translateX(-50%);
   
    height: 500px;
    /* Exemplo de cor de fundo */
    z-index: 9999;
  }
  .blocobranco{
    position: relative;
   background: rgb(195, 195, 195);

    border-radius: 20px;

    width: 32%;
    height: 430px;
    bottom: 500px;
    left: 2%;
    border: 1px solid white;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);

  }
  

.tipo-consulta{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    width: 101%;
    left: 5%;
}
.consultas{
    position: relative;
    top: 30px;
    border-radius: 20px;
    left: 100px;
    margin-right: 60px;
    padding-left: 20px;
    border: 1px solid black;
    width: 36%;
    height: 650px;
    background:  rgb(195, 195, 195);
    z-index: 9997;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.consultas:hover{
    box-shadow: none;
    left: 95px;
}
s
.consultas img{
    position: absolute;

  left: 100px;
  border-radius: 20px;
}
.consultas h1{
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.consultas p{
    position: relative;
    width: 380px;
    left: -5px;
    bottom: 20px;
    font-size: 18px;
}
.con{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 300px;
    left: 90px;
    bottom: 10px;
    background:   rgb(195, 195, 195);
    border-radius: 30px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.imgcon1{
    
    position: relative;
     left: 15px;
     top: -10px;
     border-radius: 20PX;
}

.cons:hover{
    background:  rgb(195, 195, 195);
    box-shadow: none;
    border: 1px solid whitesmoke;
}
.con2{
    top: 0px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 300px;
    left: 90px;
   top:45px;
    background:   rgb(195, 195, 195);
    border-radius: 30px;
}
.con2 img{
    position: relative;
    left: 15px; 
    border-radius: 20px;
    top: -10px;
}

.consultas span{
    position: relative;
    font-size:40px;
    left: 30px;
    font-family: "Arial";
    color: white;
    font-weight: 700;
}
.consultas a img{
    width: 40px;
    height: 40px;
}





.adultos{
    z-index: 9990;
}
.info{
    position: relative;
    width: 30%;
    height: 700px;
    left: 740px;
    bottom: 610px;
    z-index: 9900;
}
.info h1{
 width: 800px;
}
.info h3{
    width: 600px;
}
.quem-eu-sou{
    position: absolute; 
    width: 100%;
    height: 800px;
    background:  rgb(195, 195, 195);
   top: 720px;
   
   z-index: 9899;
}
.img-quem-sou-eu img{
    position: relative;
    width: 30%;
    height: 650px;
    left: 130px;
   top: 70px;
   border-radius: 20px;
}
.quem-whatsapp{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 20px;
    font-size: 18px;
    bottom: -15px;
    border-radius: 40px; 
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.quem-whatsapp a span{
  
   
    top: 5px;
    left: 80px;
}
.quem-whatsapp a img{
    position: absolute;
    top: 10px;
    left: 15px;
}
.quem-whatsapp:hover{ 
    background:  rgb(195, 195, 195);
    box-shadow: none;
    border: 1px solid whitesmoke;
}
.quemwhatsapp span:hover {
    position: relative;
 
    font-size: 28px;
    left: 10px;
 
}
.quem-a{
    position: relative;
    top: -4px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.quem-agende{
   
    text-decoration:  rgb(195, 195, 195);
    
}
.quem-agende span{
    position: relative;
    left: 20px;
    bottom: 5px;
    color: white;
    font-size: 27px;
    text-decoration: white;
    font-family: "Segoe UI";
    font-weight: 750;
}

.vantagens{
    position: relative;
    top: 830px;
    width:100%;
    height: 870px;
}
.parte1{
    width: 100%;
    height: 500px;
}
.fotosTerapia img{
    position: relative;
    top: 10px;
    width: 80%;
    left: 130px;
    height: 500px;
}
.parte1 h2{
    position: relative;
    left: 540px;
    color: black;
    bottom: 480px;
    font-size: 20px;
}
.parte1 h1{
    position: relative;
    left: 450px;
    bottom: 490px;
    font-size: 50px;
    color: black;
}
.parte1 p{
    position: relative;
    width: 50%;
    left: 420px;
    font-size: 20px;
    bottom: 510px;
    color:  black;
    font-weight: 500;
}
.parte2{
    position: relative;
    bottom: 70px;
    left: 180px;
}
.divtwo{
    display: flex;
    flex-direction: row;
}
.divtwo div {
    background:   rgb(195, 195, 195);
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 30px;
    width: 450px;
    margin-right: 30px;
    left: 60px;
}
.divtwo div img{
    border-radius: 50%;
    position: relative;
    left: 200PX;
    top: 10PX;
    width: 50PX;
    height: 50px;
}
.divtwo div h2{
 position: relative;
 left: 30px;
 width: 93%;
 color: white;
 font-weight: 500;
}
.divtwo div p{
    position: relative;
    width: 90%;
    left: 25px;
    font-weight: 500;
    font-size: 20px;
}
.divthree{
    display: flex;
    flex-direction: row;
}
.divthree div {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 10px;
    width: 450px;
    margin-right: 30px;
    left: 60px;
    background:  rgb(195, 195, 195);
}
.divthree div img{
    border-radius: 50%;
    position: relative;
    left: 200PX;
    top: 10PX;
    width: 50PX;
    height: 50px;
}
.divthree div h2{
 position: relative;
 left: 15px;
 width: 98%;
 color: white;
 font-weight: 500;
}
.divthree div p{
    position: relative;
    width: 90%;
    left: 25px;
    font-weight: 500;
    font-size: 20px;
}


.cognitivo{
    background: white;
    border-radius: 20px;
    width: 400px;

}
.cognitivo h2{
    position: relative;
 left: 70px;
 top: 10px;
}
.cognitivo p{
    position: relative;
    width: 90%;
    height: 110px;
    left: 30px;
}


.depoimentos{
    position: relative;
    width: 100%;
    left: 1px;
    height: 700px;
    border: 1px solid black;
    top: 830px;
}

.slide-item img{
    width: 430PX;
    height: 270PX;
    margin-bottom: 30PX;
}
.tns-controls{
    position: relative;
    left: 550px;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: row ;
    top: 10px;
    
    margin-bottom: 20px;
}
.tns-controls button{
    position: relative;
    border-radius: 20px;
    width: 100px;
    margin-left: 20px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
 
}
.tns-controls button #text{
    font-weight: 700;
}
.tns-nav{
    
    position: relative;
    left: 550px;
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
}
.tns-nav button{
    width: 15px;
    margin-left: 10px;
    height: 15px; 
    border-radius:15px ;
   
    border: none;
}
.tns-nav-active{
    background-color: black;
}
 .container-main{
    position: relative;
    top: 950px;
    background: rgb(195,195,195);
 }



.instagram{
    position: relative;
    top: 950px;
    width: 100%;
    height: 400px;
    border: 2px solid black;
}


.perguntas{
    position: relative;
    top: 970px;
    left: 25px;
    width: 100%; 
    
}
 .accordion{
   position: absolute;
 

    left: 10px;
    width: 93%;
 }
 .perguntas h1{
    position: relative;
   bottom: 10px;
   width: 100%;
   margin: 0;
    left: 500px;
    width: 600px;
    height: 30px;
    font-size: 30px;
    color: white;
 }
 .accordion-item button{
    background:  rgb(195, 195, 195);
    border-radius: 0px;
 }
.sobrenos{
    position: relative;
    top: 1600px;
    width: 100%;
    height: 320px;

    background:  rgb(195, 195, 195); 
}
.sobrenos div{
    display: flex;
    justify-content: space-between;

    width: 33%;
        height: 250px;
       
}
.sobrenos img{
    width: 30px;
    height: 30px
}

.nome h2{
    position: absolute;
    width: 400px;
    
    height: 40px;
 left: 30px;
}
.nome h6{
    position: relative;
    top: 70px;
    width: 400px;
    left: 30px;
}

.instagram{
    border: none;
    background:  rgb(195, 195, 195);
}
.inst{
    position: relative;
    left: 30px;
    top: 30px;
    text-decoration: white;
    cursor: pointer;
}.inst img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    bottom: 25px;
}
.inst h3{
    position: relative;
    left: 100px;
    bottom: 90px;
    
    color: white;
    font-size: 40px;
}

.face{
    cursor: pointer;
    position: absolute;
    left: 65px;
    top: 90px;
}
.insta{
position: relative;
right: 220px;
top: 90px;
}
.post{
    position: relative;
    width: 250px;
    height: 250px;
    bottom: 5px;
    text-decoration: none;
    
    
   
}
.post img{
    position: relative;
    width: 300px;
    height: 250px;
    left: 70px;
   
}

.post1{
    position: relative;
    left: 10px;
    bottom: 40px;
    border: none;
    cursor: pointer ;
   
}
.post2{
    position: relative;
    left: 20px;
    bottom: 40px;
   border: none;
}
.post3{
    position: relative;
    left: 30px;
    bottom: 40px;
    border: none;
  
}
.post4{
    position: relative;
    border: none;
    bottom: 40px;
   left: 40px;
    
}
.follow{
    position: absolute;
   top: 350px;
   right: 590px;
    width: 250px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid whitesmoke;
    background: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.follow span{
    
    position: relative;
    left: 30px;
    bottom: -5px;
    font-size: 20px;
    color: white;
}
.follow:hover{
    background:  rgb(195, 195, 195);
    box-shadow: none;
    text-decoration:  rgb(195, 195, 195);
}

.accordion-header:active{
    border: none;
}

.linksrapidos{
    position: relative;
    left: 360px;
    bottom: 250px;
}
.linksrapidos h2{
    position: absolute;
    left: 80px;
    width: 300px;
}
.linksrapidos a{
    position: relative;
    margin-bottom: 20px;
    top: 40px;
    right: 80px;
    margin-top: 10px;
    text-decoration:  rgb(195, 195, 195) ;
    color: white;
    font-size: 25px;
}
.linksrapidos ul{
    position: absolute;
    left: 130px;
    
}
.linksrapidos li{
    list-style-type: none;
    margin-bottom: 10px;
    width: 320px;
    font-weight: 700;
   
}
.linksrapidos a:hover{
    color: white;
}

.atendimento{
position: relative;
left: 717px;
bottom: 500px;
}
.atendimento h2{
position: absolute;
left:5px;
width: 800px;
height: 35px;
}
.atendimento h4{
position: absolute;
top: 70px;
right: -10px;
height: 30px;
width: 300px !important;
}
.atendimento a {
    background: white;
    position: absolute;
    
    width: 200px;
    border-radius: 20px;
height: 40px;
    top: 160px;
    right: 80px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    text-decoration:  rgb(195, 195, 195) !important;
}
.atendimento a:hover{
    background:  rgb(195, 195, 195);
    ;
    border: 1px solid whitesmoke;
    text-decoration:  rgb(195, 195, 195) !important;
    box-shadow: none;
}
.atendimento a span{
    text-decoration:  rgb(195, 195, 195) !important;
    
    position: relative;
    left: 20px;
    top: 5px;
    color: white;
    font-weight: 700;
}
.atendimento a span img{
    border-radius: 20px;
}

.copyright{
    background:  rgb(195, 195, 195);
    border-top: 1px solid whitesmoke;
    position: relative;
    width: 100%;
    height: 60px;
    top: 1580px;
}
.copyright p{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    color: white;
}

.fotoConver{
     margin-left: 135px;
}



/* celulares*/
@media (min-width:200px) and  (max-width: 750px){
body{
    width: 100%;
    height: 100%;
}
    .fixed-what{
    position: fixed !important;
  
}
.fixed-what a {
    position: fixed !important;
    top: 36% !important;
    left: 330px;
    z-index: 10100;
}
.fixed-what img{
    width: 50px;
    height: 50px;
}
    #header-img{
    position: relative;
    width: 140px;
    height: 60px;
}
#header-h2{
    font-size: 20px;
   width: 200px;
   bottom: 50px;
    left:140px;
}
#h-a img{
    width: 20px;
    height: 20px;
    bottom:100px;
  left: 350px;
}
#h-a p{
    left: 310px;
    bottom: 95px;
    font-size: 11px;
}
.imgsEli{
    width: 370px;
    height: 250px;
    top: 20px;
    left:  -7px;
}
.blocobranco{
    top: 40px;
    width: 370px;
    left: -5px;
    height: 330px;
}
.crp{
    font-size: 20px;
    
    left: 70px;
}
.h1-psi{
    top: 1px;
    left: 100px;
    font-size: 22px;
}
.h3-ter{
    font-size: 15px;
    top: 1px;

    left: 60PX;
   
}
.list-p{
    font-size: 13px;
    top: 1px;
    left: 90px;
    color: black;
}
.list-p img{
    width: 10px;
    height: 10px;
}
.agende-whatsapp{
    
    width: 320px;
    bottom: 10px;
    height: 40px;
}
.agende-whatsapp span:active {
    font-size: 20px;
    left: 50px;
}
.ele-a{
    width: 25px;
    height: 25px;
   top: 1px;
   left: 20px;
}
.agende span{
    font-size: 20px;
    left: 50px;
}
.tipo-consulta{
    width: 101%;
    display: flex;
    flex-direction: column;
    left: -1%;
}

.consultas{
    width: 350px;
    height: 650px;
    z-index: 9997;
    left: 20px;
    margin-top: 30px;
}
.fotoConver{
    position: relative;
   right: 20px;

}
.consultas h1{
    font-size: 30px;
    left: 30PX;
}
.consultas p{
    width: 300px;
}
.con{
    width: 240px;
    height: 45px;
    bottom: 30px;
    background:  rgb(195, 195, 195);
}
.imgcon1{
    top: -3px;
    left: 1px;
}
.con span{
    font-size: 22px;
}
.con2{
    position: relative;
    display: inline-block;
    width: 240px;
    height: 45px;
   top: -20px;
    background:  rgb(195, 195, 195);
}
.imgcon2{
    top: -3px;
    left: 1px;
}
.con2 span{
    font-size: 22px;
}
.quem-eu-sou{
    position: absolute;
    top: 1400px;
    height: 1300px;
}
.img-quem-sou-eu{
    position: relative;
    height: 300px;
}
.img-quem-sou-eu img{
    top: 20px;
    width: 370px;
    left: 30px;
    height: 300px;
}
.info{
    top: 500px;
}
.info h3{
    position: relative;
    font-size: 20px;
    bottom: 470px;
    right: 700px;
}
.info h1{
    position: relative;
    font-size: 30px;
    width: 300px;
    bottom: 470px;
    right: 700px;
}
.info p{
    position: relative;
    font-size: 20px;
    width: 300px;
    bottom: 470px;
    right: 700px;
}
.cognitivo{
    position: relative;
    background: white;
    border-radius: 20px;
    border: 1px solid whitesmoke;
 
   
}
.cognitivo h2{
    position: relative;
    left: -640px;
    top: -470px;
    width: 50%;
}
.cognitivo p{
    position: relative;
    top: -470px;
    left: -700px;
    width: 350px;
}
.quem-whatsapp{
   
    width: 230px;
    height: 50px;
    left: -640px;
    bottom: 230px;
}
.quem-whatsapp span{
  
    font-size: 15px;
    top: 30px;
}
.quem-whatsapp img{
    position: relative;
    width: 35px;
    height: 35px;
    top: -500px;
}
.vantagens{
    top: 2000px;
    height: 1350px;
}
.fotosTerapia img{
    top: 5px;
    width: 400px;
    height: 400px;
}
.parte1 h2{
    position: relative;
    width: 400px;
    height: 10px;
    font-size: 17px;
  left: 30px;
   top: -390px;
}
.parte1 h1{
    position: absolute;
    font-size: 32px;
    width: 400px;
   left: 10px;
   bottom: 1270px;
}
.parte1 p{
    font-size:15px;
    left: 30px;
    width: 330px;
    height: 400px;
    bottom: 370px;
}.parte2 div{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
  
}

.divtwo div{
    left: -140px;
    bottom: 170px;
    margin-bottom: 30px;
}
.divtwo div img{
    left: 120px;
}
.divthree div img{
    left: 120px;
}
.divthree div{
    left: -140px;
    bottom: -60px;
    margin-bottom: 20px;
}

.container-main{
    top: 2070px;
    height: 1900px;
    
}
.cont{
    display: flex;
    flex-direction: column;
    opacity: 1;
}
#next-button{
    left: 355px;
}
.cont img {
    width: 380px;
    height: 270px;
    left: -30px;
  
}
.eightV{
    display: none;
}

#next-button{
    display: none;
}
#prev-button{
    display: none;
}

.instagram{
    top: 2100px;
    height: 1110px;
}
.inst{
    height: 60px;
}
.inst img{
    width: 45px;
    height: 45px;
    right: 10px;
}
.inst h3{
    position: relative;
    left: 40px;
    bottom: 70px;
    font-size: 25px;
}
.post{
    display: flex;
    flex-direction: column;
    left: -10px;
    margin-bottom: 5px;
}
.follow{
    top: 1060px;
    left: 70px;
    background:  rgb(195, 195, 195);
}
.perguntas{
    top: 2120px;
    height: 1000px;
   left: 5px;
}
.perguntas h1{
   left: 10px;
}
.sobrenos{
    top: 2000px;
    height: 660px;
}
.sobrenos div{
    display: flex;
    flex-direction: column;
}
.nome{
    height: 170px !important;
}
.nome h2{
    top: 30px;
    
}
.face{
    left: 30px;
    top: 95px;
}
.insta{
    left: 70px;
    top: -45px;
}
.linksrapidos{
    bottom: -10px;
    left: -50px;
}
.linksrapidos h2{
    left: 175px;
}
.atendimento{
    left: 200px;
    bottom: -60px;
}
.atendimento h2{
    left: -130px;
}
.atendimento h4{
    left: -140px;
}
.atendimento a{
    left: -110px;
    top: 120px;
    background:  rgb(195, 195, 195);
}
.copyright{
    top: 2000px;
    height: 100px;
}
}/*desktop*/
@media (min-width:751px) and  (max-width: 1000px){
    body{
        width: 100%;
        height: 100%;
    }
    .fixed-what{
        position: fixed !important;
      
    }
    .fixed-what a {
        position: fixed !important;
        top: 30% !important;
        left: 480px;
        z-index: 10100;
    }

    .fixed-what img{
        width: 50px;
        height: 50px;
    }
  .container{
    height: 700px;
  }
    #header-img{
        position: relative;
        width: 180px;
        height: 60px;
    }
    #header-h2{
        font-size: 20px;
       width: 200px;
       bottom: 47px;
        left:185px;
    }
    #h-a img{
        width: 30px;
        height: 30px;
        bottom:90px;
      left: 390px;
    }
    #h-a p{
        left: 425px;
        bottom: 115px;
        font-size: 15px;
    }
    .imgsEli{
        width: 500px;
        height: 280px;
        top: 20px;
        left:  -7px;
    }
    .blocobranco{
        top: 35px;
        width: 500px;
        left: -5px;
        height: 376px;
    }
    .crp{
        font-size: 33px;
        
        left: 20px;
    }
    .h1-psi{
        top: 1px;
        left: 100px;
        font-size: 40px;
    }
    .h3-ter{
        font-size: 20px;
        top: -15px;
    
        left: 60PX;
       
    }
    .list-p{
        font-size: 15px;
        top: -17px;
        left: 90px;
        color: black;
    }
    .list-p img{
        width: 15px;
        height: 15px;
    }
    .agende-whatsapp{
        
        width: 320px;
        bottom: 32px;
        height: 40px;
        left: 80px;
    }
    .agende-whatsapp span {
        font-size: 20px;
        left: 50px;
    }
    .agende-whatsapp:active{
        box-shadow: none;
        border: 1px sloid whitesmoke;
    }
    .ele-a{
        width: 30px;
        height: 30px;
       top: 4px;
       left: 20px;
    }

    .tipo-consulta{
        width: 101%;
        display: flex;
        flex-direction: column;
        left: -1%;
    }
    
    .consultas{
        width: 430px;
        height: 650px;
        z-index: 9997;
        left: -10px;
        margin-top: 30px;
    }
    .fotoConver{
        position: relative;
       right: 20px;
    
    }
    .consultas h1{
        font-size: 30px;
        left: 30PX;
    }
    .consultas p{
        width: 300px;
    }
    .con{
        width: 240px;
        height: 45px;
        bottom: 30px;
        background:  rgb(195, 195, 195);
    }
    .imgcon1{
        top: -3px;
        left: 1px;
    }
    .con span{
        font-size: 22px;
    }
    .con2{
        position: relative;
        display: inline-block;
        width: 240px;
        height: 45px;
       top: -20px;
        background:  rgb(195, 195, 195);
    }
    .imgcon2{
        top: -3px;
        left: 1px;
    }
    .con2 span{
        font-size: 22px;
    }

    .quem-eu-sou{
        position: absolute;
        top: 1400px;
        height: 1300px;
    }
    .img-quem-sou-eu{
        position: relative;
        height: 300px;
    }
    .img-quem-sou-eu img{
        top: 20px;
        width: 370px;
        left: 30px;
        height: 300px;
    }
    .info{
        top: 500px;
    }
    .info h3{
        position: relative;
        font-size: 20px;
        bottom: 470px;
        right: 700px;
    }
    .info h1{
        position: relative;
        font-size: 30px;
        width: 300px;
        bottom: 470px;
        right: 700px;
    }
    .info p{
        position: relative;
        font-size: 20px;
        width: 300px;
        bottom: 470px;
        right: 700px;
    }
    .cognitivo{
        position: relative;
        background: white;
        border-radius: 20px;
        border: 1px solid whitesmoke;
     
       
    }
    .cognitivo h2{
        position: relative;
        left: -640px;
        top: -470px;
        width: 50%;
    }
    .cognitivo p{
        position: relative;
        top: -470px;
        left: -700px;
        width: 350px;
    }
    .quem-whatsapp{
       
        width: 230px;
        height: 50px;
        left: -640px;
        bottom: 230px;
    }
    .quem-whatsapp span{
      
        font-size: 15px;
        top: 30px;
    }
    .quem-whatsapp img{
        position: relative;
        width: 35px;
        height: 35px;
        top: -500px;
    }
    .vantagens{
        top: 2000px;
        height: 1350px;
    }
    .fotosTerapia img{
        top: 5px;
        width: 400px;
        height: 400px;
    }
    .parte1 h2{
        position: relative;
        width: 400px;
        height: 10px;
        font-size: 17px;
      left: 30px;
       top: -390px;
    }
    .parte1 h1{
        position: absolute;
        font-size: 32px;
        width: 400px;
       left: 10px;
       bottom: 1270px;
    }
    .parte1 p{
        font-size:15px;
        left: 30px;
        width: 330px;
        height: 400px;
        bottom: 370px;
    }.parte2 div{
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
      
    }
    
    .divtwo div{
        left: -140px;
        bottom: 170px;
        margin-bottom: 30px;
    }
    .divtwo div img{
        left: 120px;
    }
    .divthree div img{
        left: 120px;
    }
    .divthree div{
        left: -140px;
        bottom: -60px;
        margin-bottom: 20px;
    }
    
    .container-main{
        top: 2070px;
        height: 1900px;
        
    }
    .cont{
        display: flex;
        flex-direction: column;
        opacity: 1;
    }
    #next-button{
        left: 355px;
    }
    .cont img {
        width: 380px;
        height: 270px;
        left: -30px;
      
    }
    .eightV{
        display: none;
    }
    
    #next-button{
        display: none;
    }
    #prev-button{
        display: none;
    }
    
    .instagram{
        top: 2100px;
        height: 1110px;
    }
    .inst{
        height: 60px;
    }
    .inst img{
        width: 45px;
        height: 45px;
        right: 10px;
    }
    .inst h3{
        position: relative;
        left: 40px;
        bottom: 70px;
        font-size: 25px;
    }
    .post{
        display: flex;
        flex-direction: column;
        left: -10px;
        margin-bottom: 5px;
    }
    .follow{
        top: 1060px;
        left: 70px;
        background:  rgb(195, 195, 195);
    }
    .perguntas{
        top: 2120px;
        height: 1000px;
       left: 5px;
    }
    .perguntas h1{
       left: 10px;
    }
    .sobrenos{
        top: 2000px;
        height: 660px;
    }
    .sobrenos div{
        display: flex;
        flex-direction: column;
    }
    .nome{
        height: 170px !important;
    }
    .nome h2{
        top: 30px;
        
    }
    .face{
        left: 30px;
        top: 95px;
    }
    .insta{
        left: 70px;
        top: -45px;
    }
    .linksrapidos{
        bottom: -10px;
        left: -50px;
    }
    .linksrapidos h2{
        left: 175px;
    }
    .atendimento{
        left: 200px;
        bottom: -60px;
    }
    .atendimento h2{
        left: -130px;
    }
    .atendimento h4{
        left: -140px;
    }
    .atendimento a{
        left: -110px;
        top: 120px;
        background:  rgb(195, 195, 195);
    }
    .copyright{
        top: 2000px;
        height: 100px;
    }
    }/*desktop*/
    @media (min-width:751px) and  (max-width: 1000px){
        body{
            width: 100%;
            height: 100%;
        }
        .fixed-what{
            position: fixed !important;
          
        }
        .fixed-what a {
            position: fixed !important;
            top: 30% !important;
            left: 480px;
            z-index: 10100;
        }
    
        .fixed-what img{
            width: 50px;
            height: 50px;
        }
      .container{
        height: 700px;
      }
        #header-img{
            position: relative;
            width: 180px;
            height: 60px;
        }
        #header-h2{
            font-size: 20px;
           width: 200px;
           bottom: 47px;
            left:185px;
        }
        #h-a img{
            width: 30px;
            height: 30px;
            bottom:90px;
          left: 390px;
        }
        #h-a p{
            left: 425px;
            bottom: 115px;
            font-size: 15px;
        }
        .imgsEli{
            width: 500px;
            height: 280px;
            top: 20px;
            left:  -7px;
        }
        .blocobranco{
            top: 35px;
            width: 500px;
            left: -5px;
            height: 376px;
        }
        .crp{
            font-size: 33px;
            
            left: 20px;
        }
        .h1-psi{
            top: 1px;
            left: 100px;
            font-size: 40px;
        }
        .h3-ter{
            font-size: 20px;
            top: -15px;
        
            left: 60PX;
           
        }
        .list-p{
            font-size: 15px;
            top: -17px;
            left: 90px;
            color: black;
        }
        .list-p img{
            width: 15px;
            height: 15px;
        }
        .agende-whatsapp{
            
            width: 320px;
            bottom: 32px;
            height: 40px;
            left: 80px;
        }
        .agende-whatsapp span {
            font-size: 20px;
            left: 50px;
        }
        .agende-whatsapp:active{
            box-shadow: none;
            border: 1px sloid whitesmoke;
        }
        .ele-a{
            width: 30px;
            height: 30px;
           top: 4px;
           left: 20px;
        }
    
        .tipo-consulta{
            width: 101%;
            display: flex;
            flex-direction: column;
            left: -1%;
        }
        
        .consultas{
            width: 430px;
            height: 650px;
            z-index: 9997;
            left: -10px;
            margin-top: 30px;
        }
        .fotoConver{
            position: relative;
           right: 20px;
        
        }
        .consultas h1{
            font-size: 30px;
            left: 30PX;
        }
        .consultas p{
            width: 300px;
        }
        .con{
            width: 240px;
            height: 45px;
            bottom: 30px;
            background:  rgb(195, 195, 195);
        }
        .imgcon1{
            top: -3px;
            left: 1px;
        }
        .con span{
            font-size: 22px;
        }
        .con2{
            position: relative;
            display: inline-block;
            width: 240px;
            height: 45px;
           top: -20px;
            background:  rgb(195, 195, 195);
        }
        .imgcon2{
            top: -3px;
            left: 1px;
        }
        .con2 span{
            font-size: 22px;
        }
    
        .quem-eu-sou{
    position: absolute;
    top: 1400px;
    height: 1300px;
}
.img-quem-sou-eu{
    position: relative;
    height: 300px;
}
.img-quem-sou-eu img{
    top: 20px;
    width: 370px;
    left: 30px;
    height: 300px;
}
.info{
    top: 500px;
}
.info h3{
    position: relative;
    font-size: 20px;
    bottom: 470px;
    right: 700px;
}
.info h1{
    position: relative;
    font-size: 30px;
    width: 300px;
    bottom: 470px;
    right: 700px;
}
.info p{
    position: relative;
    font-size: 20px;
    width: 300px;
    bottom: 470px;
    right: 700px;
}
.cognitivo{
    position: relative;
    background: white;
    border-radius: 20px;
    border: 1px solid whitesmoke;
 
   
}
.cognitivo h2{
    position: relative;
    left: -640px;
    top: -470px;
    width: 50%;
}
.cognitivo p{
    position: relative;
    top: -470px;
    left: -700px;
    width: 350px;
}
.quem-whatsapp{
   
    width: 230px;
    height: 50px;
    left: -640px;
    bottom: 230px;
}
.quem-whatsapp span{
  
    font-size: 15px;
    top: 30px;
}
.quem-whatsapp img{
    position: relative;
    width: 35px;
    height: 35px;
    top: -500px;
}
.vantagens{
    top: 2000px;
    height: 1350px;
}
.fotosTerapia img{
    top: 5px;
    width: 400px;
    height: 400px;
}
.parte1 h2{
    position: relative;
    width: 400px;
    height: 10px;
    font-size: 17px;
  left: 30px;
   top: -390px;
}
.parte1 h1{
    position: absolute;
    font-size: 32px;
    width: 400px;
   left: 10px;
   bottom: 1270px;
}
.parte1 p{
    font-size:15px;
    left: 30px;
    width: 330px;
    height: 400px;
    bottom: 370px;
}.parte2 div{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
  
}

.divtwo div{
    left: -140px;
    bottom: 170px;
    margin-bottom: 30px;
}
.divtwo div img{
    left: 120px;
}
.divthree div img{
    left: 120px;
}
.divthree div{
    left: -140px;
    bottom: -60px;
    margin-bottom: 20px;
}

.container-main{
    top: 2070px;
    height: 1900px;
    
}
.cont{
    display: flex;
    flex-direction: column;
    opacity: 1;
}
#next-button{
    left: 355px;
}
.cont img {
    width: 380px;
    height: 270px;
    left: -30px;
  
}
.eightV{
    display: none;
}

#next-button{
    display: none;
}
#prev-button{
    display: none;
}

.instagram{
    top: 2100px;
    height: 1110px;
}
.inst{
    height: 60px;
}
.inst img{
    width: 45px;
    height: 45px;
    right: 10px;
}
.inst h3{
    position: relative;
    left: 40px;
    bottom: 70px;
    font-size: 25px;
}
.post{
    display: flex;
    flex-direction: column;
    left: -10px;
    margin-bottom: 5px;
}
.follow{
    top: 1060px;
    left: 70px;
    background:  rgb(195, 195, 195);
}
.perguntas{
    top: 2120px;
    height: 1000px;
   left: 5px;
}
.perguntas h1{
   left: 10px;
}
.sobrenos{
    top: 2000px;
    height: 660px;
}
.sobrenos div{
    display: flex;
    flex-direction: column;
}
.nome{
    height: 170px !important;
}
.nome h2{
    top: 30px;
    
}
.face{
    left: 30px;
    top: 95px;
}
.insta{
    left: 70px;
    top: -45px;
}
.linksrapidos{
    bottom: -10px;
    left: -50px;
}
.linksrapidos h2{
    left: 175px;
}
.atendimento{
    left: 200px;
    bottom: -60px;
}
.atendimento h2{
    left: -130px;
}
.atendimento h4{
    left: -140px;
}
.atendimento a{
    left: -110px;
    top: 120px;
    background:  rgb(195, 195, 195);
}
.copyright{
    top: 2000px;
    height: 100px;
}
}/*desktop*/
@media (min-width:751px) and  (max-width: 1200px){
    body{
        width: 100%;
        height: 100%;
    }
    .fixed-what{
        position: fixed !important;
      
    }
    .fixed-what a {
        position: fixed !important;
        top: 30% !important;
        left: 480px;
        z-index: 10100;
    }

    .fixed-what img{
        width: 50px;
        height: 50px;
    }
  .container{
    height: 700px;
  }
    #header-img{
        position: relative;
        width: 180px;
        height: 60px;
    }
    #header-h2{
        font-size: 20px;
       width: 200px;
       bottom: 47px;
        left:185px;
    }
    #h-a img{
        width: 30px;
        height: 30px;
        bottom:90px;
      left: 390px;
    }
    #h-a p{
        left: 425px;
        bottom: 115px;
        font-size: 15px;
    }
    .imgsEli{
        width: 500px;
        height: 280px;
        top: 20px;
        left:  -7px;
    }
    .blocobranco{
        top: 35px;
        width: 500px;
        left: -5px;
        height: 376px;
    }
    .crp{
        font-size: 33px;
        
        left: 20px;
    }
    .h1-psi{
        top: 1px;
        left: 100px;
        font-size: 40px;
    }
    .h3-ter{
        font-size: 20px;
        top: -15px;
    
        left: 60PX;
       
    }
    .list-p{
        font-size: 15px;
        top: -17px;
        left: 90px;
        color: black;
    }
    .list-p img{
        width: 15px;
        height: 15px;
    }
    .agende-whatsapp{
        
        width: 320px;
        bottom: 32px;
        height: 40px;
        left: 80px;
    }
    .agende-whatsapp span {
        font-size: 20px;
        left: 50px;
    }
    .agende-whatsapp:active{
        box-shadow: none;
        border: 1px sloid whitesmoke;
    }
    .ele-a{
        width: 30px;
        height: 30px;
       top: 4px;
       left: 20px;
    }

    .tipo-consulta{
        width: 101%;
        display: flex;
        flex-direction: column;
        left: -1%;
    }
    
    .consultas{
        width: 440px;
        height: 650px;
        z-index: 9997;
        left: -70px;
        margin-top: 30px;
    }
    .adultos{
        margin-left: 0;
    }
    .fotoConver{
        position: relative;
       right: 20px;
    
    }
    .consultas h1{
        font-size: 30px;
        left: 30PX;
    }
    .consultas p{
        width: 300px;
    }
    .con{
        width: 240px;
        height: 45px;
        bottom: 30px;
        background:  rgb(195, 195, 195);
    }
    .imgcon1{
        top: -3px;
        left: 1px;
    }
    .con span{
        font-size: 22px;
    }
    .con2{
        position: relative;
        display: inline-block;
        width: 240px;
        height: 45px;
       top: -20px;
        background:  rgb(195, 195, 195);
    }
    .imgcon2{
        top: -3px;
        left: 1px;
    }
    .con2 span{
        font-size: 22px;
    }

    .quem-eu-sou{
        position: absolute;
        top: 1400px;
        height: 1300px;
    }
    .img-quem-sou-eu{
        position: relative;
        height: 300px;
    }
    .img-quem-sou-eu img{
        top: 20px;
        width: 370px;
        left: 30px;
        height: 300px;
    }
    .info{
        top: 500px;
    }
    .info h3{
        position: relative;
        font-size: 20px;
        bottom: 470px;
        right: 700px;
    }
    .info h1{
        position: relative;
        font-size: 30px;
        width: 300px;
        bottom: 470px;
        right: 700px;
    }
    .info p{
        position: relative;
        font-size: 20px;
        width: 300px;
        bottom: 470px;
        right: 700px;
    }
    .cognitivo{
        position: relative;
        background: white;
        border-radius: 20px;
        border: 1px solid whitesmoke;
     
       
    }
    .cognitivo h2{
        position: relative;
        left: -640px;
        top: -470px;
        width: 50%;
    }
    .cognitivo p{
        position: relative;
        top: -470px;
        left: -700px;
        width: 350px;
    }
    .quem-whatsapp{
       
        width: 230px;
        height: 50px;
        left: -640px;
        bottom: 230px;
    }
    .quem-whatsapp span{
      
        font-size: 15px;
        top: 30px;
    }
    .quem-whatsapp img{
        position: relative;
        width: 35px;
        height: 35px;
        top: -500px;
    }
    .vantagens{
        top: 2000px;
        height: 1350px;
    }
    .fotosTerapia img{
        top: 5px;
        width: 400px;
        height: 400px;
    }
    .parte1 h2{
        position: relative;
        width: 400px;
        height: 10px;
        font-size: 17px;
      left: 30px;
       top: -390px;
    }
    .parte1 h1{
        position: absolute;
        font-size: 32px;
        width: 400px;
       left: 10px;
       bottom: 1270px;
    }
    .parte1 p{
        font-size:15px;
        left: 30px;
        width: 330px;
        height: 400px;
        bottom: 370px;
    }.parte2 div{
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
      
    }
    
    .divtwo div{
        left: -140px;
        bottom: 170px;
        margin-bottom: 30px;
    }
    .divtwo div img{
        left: 120px;
    }
    .divthree div img{
        left: 120px;
    }
    .divthree div{
        left: -140px;
        bottom: -60px;
        margin-bottom: 20px;
    }
    
    .container-main{
        top: 2070px;
        height: 1900px;
        
    }
    .cont{
        display: flex;
        flex-direction: column;
        opacity: 1;
    }
    #next-button{
        left: 355px;
    }
    .cont img {
        width: 380px;
        height: 270px;
        left: -30px;
      
    }
    .eightV{
        display: none;
    }
    
    #next-button{
        display: none;
    }
    #prev-button{
        display: none;
    }
    
    .instagram{
        top: 2100px;
        height: 1110px;
    }
    .inst{
        height: 60px;
    }
    .inst img{
        width: 45px;
        height: 45px;
        right: 10px;
    }
    .inst h3{
        position: relative;
        left: 40px;
        bottom: 70px;
        font-size: 25px;
    }
    .post{
        display: flex;
        flex-direction: column;
        left: -10px;
        margin-bottom: 5px;
    }
    .follow{
        top: 1060px;
        left: 70px;
        background:  rgb(195, 195, 195);
    }
    .perguntas{
        top: 2120px;
        height: 1000px;
       left: 5px;
    }
    .perguntas h1{
       left: 10px;
    }
    .sobrenos{
        top: 2000px;
        height: 660px;
    }
    .sobrenos div{
        display: flex;
        flex-direction: column;
    }
    .nome{
        height: 170px !important;
    }
    .nome h2{
        top: 30px;
        
    }
    .face{
        left: 30px;
        top: 95px;
    }
    .insta{
        left: 70px;
        top: -45px;
    }
    .linksrapidos{
        bottom: -10px;
        left: -50px;
    }
    .linksrapidos h2{
        left: 175px;
    }
    .atendimento{
        left: 200px;
        bottom: -60px;
    }
    .atendimento h2{
        left: -130px;
    }
    .atendimento h4{
        left: -140px;
    }
    .atendimento a{
        left: -110px;
        top: 120px;
        background:  rgb(195, 195, 195);
    }
    .copyright{
        top: 2000px;
        height: 100px;
    }
}