
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: white !important;
}
header{
    background: white;
}
.fixed-what{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 1200px;
    top: 550px;
    z-index: 10000;
    
}
.fixed-what img{
    
    width: 70px;
    height: 70px;
    background-color: transparent ;
    border: none;
    border-radius: 70%;
}

#h-a{
   background:  rgb(195, 195, 195);
    width: 300px !important;
    height: 50px;
    bottom: 200px;
    text-decoration: none;
}
#h-a img{
    position: relative;
    width: 40px;
    height: 40px;
    left: 1080px;
    bottom: 105px;
}
 .whats p #h-a {
    position: relative;
     left: 1140px;
     width: 200px;
     height: 30px;
    bottom: 140px;
    background:transparent;
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 25px;
}
#header-h2{
    position: relative;
   left: 40%;
  font-size: 20px;
  bottom: 60px;
 
}
.crp{
    position: relative;
    color:whitesmoke;
	font-family: "Segoe UI";
    left: 40px;
   
    font-size: 25px;
}
.h1-psi{
    position: relative;
    left: 10px;
    bottom: 20px;
    font-size: 50px;
    font-family: "Segoe UI";
    font-weight: 700;
    color:whitesmoke;
}
.h3-ter{
    position: relative;
    left: 40px;
    font-size: 20px;
    bottom: 30px;
    color:whitesmoke;
    font-family: "Segoe UI";
    font-weight: 700;
}

.list-p{
    position: relative;
    left: 30px;
    font-size: 18px;
    bottom: 30px;
 
    font-family: "Segoe UI";
    
}
.list-p span{
    color:black;
}
.master{
     background: white;
    position: relative;
    top: -5px;
}
.container {
    position: relative;
   
    height: 630px;
    
    }
.foto-principal{
   display: none;
}
.plano-fundo{
   position: relative;
    width: 40%;
    height: 450px;
    left: 3%;
    bottom: 13%;
  
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.whats{
    position: relative;
    top: 10px;
left: -30px;

}
.agende-whatsapp{
    position: relative;
    width: 350px;
    height: 60px;
    left: 30px;
    font-size: 18px;
    bottom: 20px;
    border-radius: 40px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(180, 180, 180);
}
.agende-whatsapp a{
    text-decoration: white;
}

.agende-whatsapp span{
    position: relative;
    top: 5px;
    
}
.agende-whatsapp:hover{ 
    background:  rgb(195, 195, 195);
    box-shadow: none;
    border: 1px whitesmoke; 
}
.agende-whatsapp span:hover {
    position: relative;

}
.ele-a{
    position: relative;
    top: 2px;
    left: 8px;
    width: 40px;
    height: 40px;
    
}
.agende span{
    position: relative;
    left: 20px;
    bottom: 5px;
    color:WHITE;
    font-size: 27px;
    text-decoration:black;
    font-family: "Segoe UI";
    font-weight: 750;
}

  
  .foto-principal {
    
    width: 43%;
    left: 200px;
    height: 500px;
    bottom: 0px;
    position: relative;
    z-index: 9998;
  }
  .imgsEli{
 position: relative;
 top: 20px;
 left: 47%;
border-radius: 20px;
 
 width: 40%;
 height: 600px;
  }
  
  .pri {
    position: absolute;
    bottom: 800px;
    left: -7%;
    
    transform: translateX(-50%);
   
    height: 500px;
    /* Exemplo de cor de fundo */
    z-index: 9999;
  }
  .blocobranco{
    position: relative;
   background: rgb(195, 195, 195);

    border-radius: 20px;

    width: 35%;
    height: 500px;
    bottom: 500px;
    left: 2%;
   
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);

  }
  

.tipo-consulta{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    width: 101%;
    left: 5%;
}
.consultas{
    position: relative;
    top: 30px;
    border-radius: 20px;
    left: 7%;
    margin-right: 60px;
    padding-left: 20px;
    border: 1px solid black;
    width: 36%;
    height: 650px;
    background:  rgb(195, 195, 195);
    z-index: 9997;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.consultas:hover{
    box-shadow: none;
}

.consultas h1{
    position: relative;
    left: 50px;
    bottom: 10px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.fotoConver{
    position: relative;
    left: 40%;
    border-radius: 20px;
}
.consultas p{
    position: relative;
    width: 380px;
    margin: auto;
    bottom: 20px;
    font-size: 18px;
}
.con{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 430px;
    left: 10px;
    bottom: 8px !important;
    background:   rgb(195, 195, 195);
    border-radius: 30px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3) !important;
}

.imgcon1{
    
    position: relative;
     left: 15px;
     top: -10px;
     border-radius: 20PX;
}

.cons:hover{
    background:  rgb(195, 195, 195);
  
    border: 1px solid whitesmoke;
}

.con2{
    top: 0px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    width: 430px;
    left: 10px;
   top:45px;
   border: 1px solid rgb(180, 180, 180);
    background:   rgb(195, 195, 195);
    border-radius: 30px;
}
.con2 img{
    position: relative;
    left: 15px; 
    border-radius: 20px;
    top: -10px;
}

.consultas span{
    position: relative;
    font-size:40px;
    left: 30px;
    font-family: "Arial";
    color: white;
    font-weight: 700;
}
.consultas a img{
    width: 40px;
    height: 40px;
   
}
.adultos{
    z-index: 9990;
}
.info{
    position: relative;
    width: 30%;
    height: 700px;
    left: 740px;
    bottom: 610px;
    z-index: 9900;
}
.info h1{
 width: 800px;
}
.info h3{
    width: 600px;
}
.quem-eu-sou{
    position: absolute; 
    width: 100%;
    height: 800px;
    background:  rgb(195, 195, 195);
   top: 720px;
   right: 84px;
   z-index: 9899;
   border: 1px solid gray;
}
.img-quem-sou-eu img{
    position: relative;
    width: 30%;
    height: 650px;
    left: 130px;
   top: 70px;
   border-radius: 20px;
}
.quem-whatsapp{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 20px;
    font-size: 18px;
    bottom: -15px;
    border-radius: 40px; 
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.quem-whatsapp a span{
  
   
    top: 5px;
    left: 80px;
}
.quem-whatsapp a img{
    position: absolute;
    top: 10px;
    left: 15px;
}
.quem-whatsapp:hover{ 
    background:  rgb(195, 195, 195);
    box-shadow: none;
    border: 1px solid whitesmoke;
}
.quem-whatsapp span:hover {
    position: relative;
    font-size: 28px;
}
.quem-a{
    position: relative;
    top: -4px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.quem-agende{
   
    text-decoration:  rgb(195, 195, 195);
    
}
.quem-agende span{
    position: relative;
    left: 20px;
    bottom: 5px;
    color: white;
    font-size: 27px;
    text-decoration: white;
    font-family: "Segoe UI";
    font-weight: 750;
}

.vantagens{
    position: relative;
    top: 830px;
    width:100%;
    height: 870px;
}
.parte1{
    width: 100%;
    height: 500px;
}
.fotosTerapia img{
    position: relative;
    top: 10px;
    width: 80%;
    left: 130px;
    height: 500px;
}
.parte1 h2{
    position: relative;
    left: 500px;
    color: black;
    bottom: 480px;
    font-size: 20px;
}
.parte1 h1{
    position: relative;
    left: 400px;
    bottom: 490px;
    font-size: 50px;
    color: black;
}
.parte1 p{
    position: relative;
    width: 50%;
    left: 390px;
    font-size: 20px;
    bottom: 510px;
    color:  black;
    font-weight: 500;
}
.parte2{
    position: relative;
    bottom: 70px;
    left: 21%;
}
.divtwo{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-left: 60px;
}
.divtwo div {
    background:   rgb(195, 195, 195);
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 30px;
    width: 450px;
    margin-right: 30px;
    right:130px;
}
.divtwo div img{
    border-radius: 50%;
    position: relative;
    left: 200PX;
    top: 10PX;
    width: 50PX;
    height: 50px;
}
.divtwo div h2{
 position: relative;
 left: 30px;
 width: 93%;
 color: white;
 font-weight: 500;
}
.divtwo div p{
    position: relative;
    width: 90%;
    left: 25px;
    font-weight: 500;
    font-size: 20px;
}
.divthree{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-left: 60px;
}
.divthree div {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 10px;
    width: 450px;
    margin-right: 30px;
    right:130px;
    background:  rgb(195, 195, 195);
}
.divthree div img{
    border-radius: 50%;
    position: relative;
    left: 200PX;
    top: 10PX;
    width: 50PX;
    height: 50px;
}
.divthree div h2{
 position: relative;
 left: 15px;
 width: 98%;
 color: white;
 font-weight: 500;
}
.divthree div p{
    position: relative;
    width: 90%;
    left: 25px;
    font-weight: 500;
    font-size: 20px;
}


.cognitivo{
    background: white;
    border-radius: 20px;
    width: 400px;

}
.cognitivo h2{
    position: relative;
 left: 70px;
 top: 10px;
}
.cognitivo p{
    position: relative;
    width: 90%;
    height: 110px;
    left: 30px;
}
.quem-whatsapp{
    border: 1px solid rgb(180, 180, 180);
}

.depoimentos{
    position: relative;
    width: 100%;
    left: 1px;
    height: 700px;
    border: 1px solid black;
    top: 830px;
}

.slide-item img{
    width: 430PX;
    height: 270PX;
    margin-bottom: 30PX;
}
.tns-controls{
    position: relative;
    left: 320px;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: row ;
    top: 10px;
    
    margin-bottom: 20px;
}
.tns-controls button{
    position: relative;
    border-radius: 20px;
    width: 100px;
    left: 185px;
    margin-left: 30px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
 
}
.tns-controls button #text{
    font-weight: 700;
}
.tns-nav{
    
    position: relative;
    left: 550px;
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
}
.tns-nav button{
    width: 15px;
    margin-left: 10px;
    height: 15px; 
    border-radius:15px ;
   
    border: none;
}
.tns-nav-active{
    background-color: black;
}
 .container-main{
    position: relative;
    top: 950px;
    background: rgb(195,195,195);
 }



.instagram{
    position: relative;
    top: 950px;
    width: 100%;
    height: 400px;
    border: 2px solid black;
}
.post{
    left:1% !important;
}
.follow{
    border: 1px solid rgb(180, 180, 180);   
    left: 540px;
}

.perguntas{
    position: relative;
    top: 970px;
    left: 25px;
    width: 100%; 
    
}
 .accordion{
   position: absolute;
 

    left: 10px;
    width: 93%;
 }
 .perguntas h1{
    position: relative;
   bottom: 10px;
   width: 100%;
   margin: 0;
    left: 100px;
    width: 600px;
    height: 30px;
    font-size: 30px;
    color: black;
 }
 .accordion-item button{
    background:  rgb(195, 195, 195);
    border-radius: 0px;
 }
.sobrenos{
    position: relative;
    top: 1600px;
    width: 100%;
    height: 320px;

    background:  rgb(195, 195, 195); 
}
.sobrenos div{
    display: flex;
    justify-content: space-between;

    width: 33%;
        height: 250px;
       
}
.sobrenos img{
    width: 30px;
    height: 30px
}

.nome h2{
    position: absolute;
    width: 400px;
    
    height: 40px;
 left: 30px;
}
.nome h6{
    position: relative;
    top: 70px;
    width: 400px;
    left: 30px;
}

.instagram{
    border: none;
    background:  rgb(195, 195, 195);
}
.inst{
    position: relative;
    left: 30px;
    top: 30px;
    text-decoration: white;
    cursor: pointer;
}.inst img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    bottom: 25px;
}
h3 .inst{
    position: relative;
    left: 150px;
    top:-60px;
    color: white;
    font-size: 40px;
}

.face{
    cursor: pointer;
    position: absolute;
    left: 65px;
    top: 90px;
}
.insta{
position: relative;
right: 220px;
top: 90px;
}
.post{
    position: relative;
    width: 250px;
    height: 250px;
    bottom: 5px;
    text-decoration: none;
    
   
}
.post img{
    position: relative;
    width: 300px;
    height: 250px;
    left: 200px;
}

.post1{
    position: relative;
    left: 10px;
    bottom: 40px;
    border: none;
    cursor: pointer ;
   
}
.post2{
    position: relative;
    left: 20px;
    bottom: 40px;
   border: none;
}
.post3{
    position: relative;
    left: 30px;
    bottom: 40px;
    border: none;
  
}
.post4{
    position: relative;
    border: none;
    bottom: 40px;
   left: 40px;
    
}
.follow{
    position: absolute;
   top: 350px;
   right: 685px;
    width: 250px;
    border-radius: 20px;
    height: 40px;

    background: rgb(195, 195, 195);
    text-decoration: none;
    font-weight: 700;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
.follow span{
    
    position: relative;
    left: 30px;
    bottom: -5px;
    font-size: 20px;
    color: white;
}
.follow:hover{
    background:  rgb(195, 195, 195);
    box-shadow: none;
    text-decoration:  rgb(195, 195, 195);
    border: 1px solid whitesmoke;
}
.perguntas h1{
    left: 460px;
}
.accordion-header:active{
    border: none;
}

.linksrapidos{
    position: relative;
    left: 360px;
    bottom: 250px;
}
.linksrapidos h2{
    position: absolute;
    left: 80px;
    width: 300px;
}
.linksrapidos a{
    position: relative;
    margin-bottom: 20px;
    top: 40px;
    right: 80px;
    margin-top: 10px;
    text-decoration:  rgb(195, 195, 195) ;
    color: white;
    font-size: 25px;
}
.linksrapidos ul{
    position: absolute;
    left: 130px;
    
}
.linksrapidos li{
    list-style-type: none;
    margin-bottom: 10px;
    width: 320px;
    font-weight: 700;
   
}
.linksrapidos a:hover{
    color: white;
}

.atendimento{
position: relative;
left: 717px;
bottom: 500px;
}
.atendimento h2{
position: absolute;
left:5px;
width: 800px;
height: 35px;
}
.atendimento h4{
position: absolute;
top: 70px;
right: -10px;
height: 30px;
width: 300px !important;
}
.atendimento a {
    background: white;
    position: absolute;
    
    width: 200px;
    border-radius: 20px;
height: 40px;
    top: 160px;
    right: 80px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    text-decoration:  rgb(195, 195, 195) !important;
}
.atendimento a:hover{
    background:  rgb(195, 195, 195);
    ;
    border: 1px solid whitesmoke;
    text-decoration:  rgb(195, 195, 195) !important;
    box-shadow: none;
}
.atendimento a span{
    text-decoration:  rgb(195, 195, 195) !important;
    
    position: relative;
    left: 20px;
    top: 5px;
    color: white;
    font-weight: 700;
}
.atendimento a span img{
    border-radius: 20px;
}
.face{
	left: 40px;
	border: none;
	border-radius: 100px;
		background-color: #3b5998;

}
.insta{
	border-radius: 10px;
	background: linear-gradient(45deg,#405DE6,#5851DB,#833AB4,#C13584,
	#E1306C,#FD1D1D);
    width: 30px;
    height: 30px;
    left: -320px;
}
.copyright{
    background:  rgb(195, 195, 195);
    border-top: 1px solid whitesmoke;
    position: relative;
    width: 100%;
    height: 60px;
    top: 1580px;
}
.copyright p{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    color: white;
}


.consulta{
    background:  rgb(195, 195, 195) !important;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* celulares*/
@media (min-width:270px) and  (max-width: 550px){
 html{
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
 }
    body{
    width: 100%;
    height: 100%;
    margin: 0;
}
    .fixed-what{
    position: fixed !important;
  
}
.fixed-what a {
    position: fixed !important;
    top: 58% !important;
    left: 300px !important;
    z-index: 10100;
}
.fixed-what img{
    width: 50px;
    height: 50px;
}
    #header-img{
    position: relative;
    width: 154px;
    height: 50px;
    top: 8px;
    right: 7px;
}
#header-h2{
    font-size: 14px;
   width: 60px;
   bottom: 40px;
    left: 36%;
}
#h-a img{
    width: 30px;
    height: 30px;
    bottom:90px;
  left: 245px;
}
.whats p #h-a{
    left: 280px;
    bottom: 115px;
    font-size: 15px;
}
.imgsEli{
    width: 96%;
    height: 40%;
    top: 20px;
    left:  5px;
}
.blocobranco{
    top: 40px;
    width: 350px;
    left: -4px;
    height: 330px;
    margin: auto;
   
}
.crp{
    font-size: 20px;
    
    left: 50px;
}
.h1-psi{
    top: 1px;
    left: 90px;
    font-size: 22px;
}
.h3-ter{
    font-size: 15px;
    top: 1px;
    left: 50PX;
}
.list-p{
    font-size: 13px;
    top: 1px;
    left: 70px;
    color: black;
}
.list-p img{
    width: 10px;
    height: 10px;
}
.agende-whatsapp{
    
    width: 320px;
    bottom: 10px;
    height: 40px;
    left:15px;
}
.agende-whatsapp span:active {
    font-size: 20px;
    left: 50px;
}
.ele-a{
    width: 25px;
    height: 25px;
   top: 1px;
   left: 20px;
}
.agende span{
    font-size: 20px;
    left: 50px;
}
.tipo-consulta{
   
    display: flex;
    flex-direction: column;
    height: 0px;
}

.consultas{
    top: 60px;
    width: 320px;
    height: 750px;
    left: 3%;
   top: 100px;
    margin-bottom: 20px;
}
.fotoConver{
    position: relative;
   left: 100px;

}
.consultas h1{
    font-size: 30px;
    left: 15PX;
}
.consultas p{
    width: 280px;
    left: -5px;
}
.con{
    width: 280px;
    height: 45px;
    bottom: 17px;
    background:  rgb(195, 195, 195);
    left: -3px;
    box-shadow: none;
}

.imgcon1{
    top: -3px;
    left: 1px;
}
.con span{
    font-size: 22px;
}
.con2{
    position: relative;
    display: inline-block;
    width: 280px;
    height: 45px;
   top: -17px;
   left: -3px;
    background:  rgb(195, 195, 195);
}
.imgcon2{
    top: -4px !important;
    left: 3px !important;
}
.con2 span{
    font-size: 22px;
}
.quem-eu-sou{
    position: absolute;
    top: 1410px;
    height: 1450px;
    right: 5%;
}
.img-quem-sou-eu{
    position: relative;
    height: 300px;
}
.img-quem-sou-eu img{
    top: 20px;
    width: 280px;
    left: 40px;
    height: 460px;
}
.info{
    top: 500px;
}
.info h3{
    position: relative;
    font-size: 20px;
    bottom: 320px;
    right: 700PX;
    color: white;
}
.info h1{
    position: relative;
    font-size: 30px;
    width: 300px;
    bottom: 320px;
    right: 700px;
    color: white;
}
.info p{
    position: relative;
    font-size: 20px;
    width: 300px;
    bottom: 320px;
    right: 700px;
    font-weight: 500;
}
.cognitivo{
    border-radius: 20px;
    border: 1px solid whitesmoke;
}
.cognitivo h2{
    position: relative;
    left: -660px;
    top: -330px;
    width: 250px;
    color: white;
}
.cognitivo p{
    position: relative;
    top: -330px;
    left: -700px;
    width: 300px;
    color: white;
}
.quem-whatsapp{
    width: 230px;
    height: 50px;
    left: -680px;
    bottom: 70px;
}
.quem-whatsapp a span{
  
    font-size: 19px;
    top: 10px;
    left: 60px;
}
.quem-whatsapp img{
    position: relative;
    width: 35px;
    height: 35px;
    top: -500px;
}
.vantagens{
    top: 2850px;
    height: 1350px;
    right: 2px;
}
.fotosTerapia img{
    top: 1px;
    width: 100%;
    height: 400px;
    left:1px;
}
.parte1 h2{
    position: relative;
    width: 400px;
    height: 10px;
    font-size: 17px;
  left: 45px;
   top: -390px;
}
.parte1 h1{
    position: absolute;
    font-size: 32px;
    width: 400px;
   left: 25px;
   bottom: 1270px;
}
.parte1 p{
    font-size:15px;
    left: 30px;
    width: 91%;
    height: 400px;
    bottom: 360px;
    font-weight: 500;
}.parte2 div{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
  position: relative;
  margin-left: -15px;
}

.divtwo div{
    bottom: 90px;
    margin-bottom: 30px;
    left:0px;
}
.divtwo div img{
    left: 120px;
}
.div1 h2{
    width: 240px !important;
   left: 40px !important;
}
.div3 h2{
    left: 20px !important;
    width: 290px !important;
}

.divthree div img{
    left: 120px;
}
.divthree div{
    left:0px;
    bottom: -200px;
    margin-bottom: 20px;
}
.div3 p{
    font-size: 17px !important;
    margin-top: 5px;
}

.container-main{
    top: 3080px;
    height: 370px;
    
}
.tns-controls{
    left: -130px;
}
.tns-nav{
    left: 105px;
    bottom: 15px;
   
}
.instagram{
    top: 3081px;
    height: 880px;
    width: 1005;
}
.inst{
    height: 60px;
}
.inst img{
    width: 45px;
    height: 45px;
    margin: 0;
    left:-20px;
}
.inst h3{
    position: relative;
    left: 80px;
    bottom: 70px;
    font-size: 25px;
}
.nomeinsta{
    left:60px !important;
    top:-40px !important;
    font-size:30px !important;
}
.post{
    
    display: flex;
    flex-direction: column;
    
    left: -30% !important;
    margin-left: -30px;
    margin-bottom: 5px;
    top: -28px;
}
.follow{
    top: 830px;
    left: 80px;
    background:  rgb(195, 195, 195);
}
.perguntas{
    top: 3090px;
    height: 1000px;
   left: 5px;
   
}
.perguntas h1{
    width: 50%;
   left: 20%;
   margin-bottom: 5px;
   font-weight: 700;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.accordion{
    top: 70px;
}
.sobrenos{
    top: 2900px;
    height: 580px;
}
.sobrenos div{
    display: flex;
    flex-direction: column;
}
.nome{
    height: 170px !important;
}
.nome h2{
    top: 30px;
    
}
.face{
    left: 30px;
    top: 95px;
}
.insta{
    left: 70px;
    top: -45px;
}
.linksrapidos{
    bottom:45px;
    left: -50px;
}
.linksrapidos h2{
    left: 175px;
}
.atendimento{
    left: 200px;
    bottom: 20px;
}
.atendimento h2{
    left: -130px;
}
.atendimento h4{
    top: 60px !important;
    left: -140px;
}
.atendimento a{
    left: -110px;
    top: 120px;
    background:  rgb(195, 195, 195);
    border: 1px solid rgb(180, 180, 180);
}
.copyright{
    top: 2900px;
    height: 70px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}/*desktop*/
@media (min-width:751px) and  (max-width: 1000px){
    html{
        overflow-x: hidden;
    }
    body{
        width: 100%;
        height: 100%;
    }
    header{
        width: 100% !important;
    }
    .fixed-what{
        position: fixed !important;
      
    }
    .fixed-what a {
        position: fixed !important;
        top: 65% !important;
        left: 780px;
        z-index: 10100;
    }

    .fixed-what a img{
        width: 70px;
        height: 70px;
    }
  .container{
    height: 700px;
  }
    #header-img{
        position: relative;
        width: 35%;
        height: 60px;
        top: 5px;
    }
    #header-h2{
        font-size: 25px;
       width: 300px;
       bottom: 47px;
        left:370px;
    }
    #h-a img{
        width: 50px;
        height: 50px;
        bottom:105px;
      left: 620px;
    }
    #h-a p{
        left: 670px;
        bottom: 150px;
        font-size: 25px;
    }
    .imgsEli{
        width: 70%;
        height: 320px;
        top: 20px;
        left: 100px ;
    }
    .blocobranco{
        top: 35px;
        width: 100%;
        left: -5px;
        height: 376px;
    }
    .crp{
        font-size: 33px;
        
        left: 140px;
    }
    .h1-psi{
        top: 1px;
        left: 200px;
        font-size: 40px;
    }
    .h3-ter{
        font-size: 20px;
        top: -15px;
    
        left: 190PX;
       
    }
    .list-p{
        font-size: 15px;
        top: -17px;
        
        left: 250px;
        color: black;
    }
    .list-p img{
        width: 15px;
        height: 15px;
    }
    .agende-whatsapp{
        
        width: 320px;
        bottom: 32px;
        height: 40px;
        left: 190px;
    }
    .agende-whatsapp span {
        font-size: 20px;
        left: 50px;
    }
    .agende-whatsapp:active{
        box-shadow: none;
        border: 1px sloid whitesmoke;
    }
    .ele-a{
        width: 30px;
        height: 30px;
       top: 4px;
       left: 20px;
    }

    .tipo-consulta{
        width: 101%;
        display: flex;
        flex-direction: column;
        left: -1%;
    }
    
    .consultas{
        width: 680px;
        height: 650px;
        z-index: 9997;
        left: 115px;
        margin-top: 30px;
    }
    .consultas:hover{
        left: 115px;
    }
    .fotoConver{
        position: relative;
       right: -150px;
    
    }
    .consultas h1{
        font-size: 30px;
        left: 210PX;
        
    }
    .consultas p{
        width: 70%;
        left: 110px;
        font-weight: 500;
        color: white;
    }
    .con{
        width: 280px;
        height: 45px;
        bottom: 20px;
        background:  rgb(195, 195, 195);
        left: 200px;
    }
    .imgcon1{
        top: -3px;
        left: 1px;
    }
    .con span{
        font-size: 22px;
    }
    .con2{
        position: relative;
        display: inline-block;
        width: 280px;
        height: 45px;
       top: -20px;
        background:  rgb(195, 195, 195);
        left: 200px;
    }
    .imgcon2{
        position: relative;
        top: -3px !important;
        left: 1px;
    }
    .con2 span{
        font-size: 22px;
    }

    .quem-eu-sou{
        position: absolute;
        top: 1200px;
        height: 990px;
        left: 5px;
    }
    .img-quem-sou-eu{
        position: relative;
        height: 300px;
    }
    .img-quem-sou-eu img{
        top: 20px;
        width: 40%;
        left: 30px;
        height: 800px;
    }
    .info{
        top: 220px;
    }
    .info h3{
        position: relative;
        font-size: 20px;
        bottom: 470px;
        right: 260px;
        color: white;
    }
    .info h1{
        position: relative;
        font-size: 30px;
        width: 300px;
        bottom: 470px;
        right: 260px;
        color: white;
    }
    .info p{
        position: relative;
        font-size: 20px;
        width: 300px;
        bottom: 470px;
        right: 260px;
        color: white;
        font-weight: 400;
    }
    .cognitivo{
        position: relative;
        background: white;
        border-radius: 20px;
        border: 1px solid whitesmoke;
     right: 300px;
       bottom: 450px;
       height: 250px;
    }
    .cognitivo h2{
   
        width: 100%;
    }
    .cognitivo p{
        width: 350px;
        top: 10px;
        font-size: 16px;
        font-weight: 500;
        color: black;
    }
    .quem-whatsapp{
       
        width: 230px;
        height: 50px;
        left: -210px;
        bottom: 270px; 
        background:  rgb(195, 195, 195);
    }
    .quem-whatsapp a span{
      
        font-size: 20px;
     left: 55px;
     top: 10px;
    }
    .quem-whatsapp img{
        position: relative;
        width: 35px;
        height: 35px;
        top: -500px;
    }
    .vantagens{
        top: 1485px;
        height: 500px;
        left: 300px;
    }
    .fotosTerapia img{
        top: 5px;
        width: 100%;
        height: 400px;
        left: -300px;
    }
    .parte1 h2{
        position: relative;
        width: 100%;
        height: 10px;
        font-size: 17px;
      left: 30px;
       top: -390px;
    }
    .parte1 h1{
        position: absolute;
        font-size: 32px;
        width: 400px;
       left: 10px;
       bottom: 1270px;
    }
    .parte1 p{
        font-size:15px;
        left: -100px;
        width: 70%;
        height: 400px;
        bottom: 370px;
        font-weight: 500;
    }.parte2 div div{
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: row;
      
    }
    .divtwo div {
        background:   rgb(195, 195, 195);
       
        border-radius: 20px;
        bottom: 30px;
        margin-right: 30px;
        left: -520px;
    }
    .divtwo div img{
        border-radius: 50%;
        position: relative;
        left: 180PX;
        top: 1PX;
        width: 50PX;
        height: 50px;
    }
    .divtwo div h2{
     min-width: 350px;
     left: -15px;
     height: 100px;
     top: 45px;
     color: white;
     font-weight: 500;
     font-size: 27px;
    }
    .divtwo div p{
      position: relative;
      min-width: 350px;
        left: -360px;
        top: 140px;
        height: 80px;
        font-weight: 500;
        z-index: 9000;
        font-size: 23px;
    }
    .divthree div {
        position: relative;
        border-radius: 20px;
        bottom: 10px;
        margin-right: 30px;
        left: -520px;
        background:  rgb(195, 195, 195);
    }
    .divthree div img{
        border-radius: 50%;
        position: relative;
        left: 180PX;
        top: -1PX;
        width: 50PX;
        height: 50px;
    }
    .divthree  div h2{
        min-width: 350px;
        left: -15px;
        top: 45px;
        width: 390px;
        color: white;
        font-weight: 500;
        font-size: 27px;
    }
    .divthree div p{
        min-width: 350px;
        position: relative;
        width: 360px ;
        left: -360px;
        top: 170px;
        height: 80px;
        font-weight: 500;
        z-index: 9000;
        font-size: 20px;
    }
    
    .container-main{
        top: 2070px;
        height: 390px;
        
    }
    .tns-controls{
        left: 115px;
    }
    .tns-nav{
        left: 370px;
    }
    .instagram{
        top: 2070px;
        height: 350px;
    }
    .inst{
        height: 60px;
    }
    .inst img{
        width: 60px;
        height: 60px;
        top: -20px;
        right: -100px;
    }
    .inst h3{
        position: relative;
        left: 180px;
        bottom: 90px;
        font-size: 60px;
    }
    .post{
       margin-left: 5px;
    bottom: 60px;
    }
   .post img{
    width: 200px ;
      height: 200px;
   }
    .follow{
        top: 290px;
        left: 330px;
        background:  rgb(195, 195, 195);
    }
    .perguntas{
        top: 2100px;
        height: 1000px;
       left: 5px;
    }
    .perguntas h1{
       left: 260px;
       bottom: 20px;
    }
    .sobrenos{
        top: 1750px;
        height: 460px;
    }
    .sobrenos div{
        display: flex;
        flex-direction: column;
    }
    .nome{
        height: 170px !important;
    }
    .nome h2{
        top: 30px;
        
    }
    .face{
        left: 30px;
        top: 95px;
    }
    .insta{
        left: 70px;
        top: -45px;
    }
    .linksrapidos{
        bottom: -10px;
        left: -50px;
    }
    .linksrapidos h2{
        left: 175px;
    }
    .atendimento{
        left: 600px;
        bottom: 240px;
    }
    .atendimento h2{
        left: -190px;
    }
    .atendimento h4{
        left: -140px;
    }
    .atendimento a{
        left: -130px;
        top: 140px;
        background:  rgb(195, 195, 195);
    }
    .copyright{
        top: 1750px;
        height: 100px;
    }
   
    }